.DS_Store
.env
memory/backlog.csv
memory/gpt_allowance.csv
access_tokens/*
src/__pycache__/
__pycache__
oauth/*
images/*
logs/*
notebooks/cookies.pkl
notebooks/run.log
src.egg-info/*
chromedata/*
chromedata